<?xml version='1.0' encoding='utf-8'?>
<widget id="com.garus.ai" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Garus AI - Next Generation</name>
  <description>Garus AI - Offline + Ollama support</description>
  <author email="dev@example.com" href="https://example.com">Garus AI</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="AndroidPersistentFileLocation" value="Internal" />
</widget>
